body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: black; /* Couleur de fond du header */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555; /* Changer la couleur au survol */
    border-radius: 5px;
}

.logo{
    background-color: white;
    
    
}